.advantages-card {
  margin: 0;
  padding: 0;
}

.advantages-card:nth-child(1),
.advantages-card:nth-child(4) {
  padding-left: 19px;
}

@media (max-width: 1199px) {
  .advantages-card:nth-child(1),
  .advantages-card:nth-child(4) {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .advantages-card:nth-child(1),
  .advantages-card:nth-child(4) {
    padding: 0 68px;
  }
}

.advantages-card:nth-child(3),
.advantages-card:nth-child(5) {
  //padding-right: 10px;
}

@media (max-width: 767px) {
  .advantages-card:nth-child(3),
  .advantages-card:nth-child(5) {
    padding: 0 46px;
  }
}

.advantages-card > div {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 30px;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .advantages-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages-card__part-numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .advantages-card__part-numbers {
    margin-bottom: 10px;
  }
}

.advantages-card__part-numbers span {
  display: block;
  margin: 0;
  padding: 0;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 71px;
  font-weight: 700;
  line-height: 53px;
}

@media (max-width: 1199px) {
  .advantages-card__part-numbers span {
    font-size: 58px;
    line-height: 45px;
  }
}

@media (max-width: 767px) {
  .advantages-card__part-numbers span {
    margin-bottom: 3px;
  }
}

.advantages-card__part-numbers p {
  display: block;
  margin: 0;
  padding: 0;
  color: rgba(46, 53, 172, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-card__part-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.advantages-card__part-text span {
  margin: 0 0 auto;
  padding: 0;
  color: rgba(16, 38, 84, 1);
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 1199px) {
  .advantages-card__part-text span {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .advantages-card__part-text span {
    margin-bottom: 7px;
  }
}

.advantages-card__part-text p {
  margin: 0;
  padding: 0;
  color: rgba(16, 38, 84, 1);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

@media (max-width: 767px) {
  .advantages-card__part-text p {
    text-align: center;
  }
}
