.contacts {
  width: 600px;
  margin: 0 auto 0 0;
  padding: 56px 0 47px 57px;
}

@media (max-width: 1199px) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    padding: 63px 0 44px 85px;
  }
}

@media (max-width: 767px) {
  .contacts {
    width: 320px;
    padding: 64px 15px 43px;
  }
}

.contacts > span {
  display: block;
  margin: 0 0 40px 68px;
  padding: 0;
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
}

@media (max-width: 1199px) {
  .contacts > span {
    margin: 0 0 32px 50px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }
}

@media (max-width: 767px) {
  .contacts > span {
    margin: 0 0 34px 0;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.contacts > div {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

@media (max-width: 1199px) {
  .contacts > div {
    grid-template-columns: 314px 314px;
  }
}

@media (max-width: 767px) {
  .contacts > div {
    grid-template-columns: 320px;
  }
}

//.contacts > div::after {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 300px;
//  width: 1px;
//  height: 100%;
//  background: rgba(116, 129, 156, 1);
//}

@media (max-width: 1199px) {
  .contacts > div::after {
    left: 46%;
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(116, 129, 156, 1);
  }
}

@media (max-width: 767px) {
  .contacts > div::after {
    display: none;
  }
}

.contacts div div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 25px 0 65px;
}

@media (max-width: 1199px) {
  .contacts div div {
    padding: 0 46px;
  }
}

@media (max-width: 767px) {
  .contacts div div {
    padding: 0;
  }
}

.contacts div div span {
  margin: 0 0 1px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: 1199px) {
  .contacts div div span {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .contacts div div span {
    margin-bottom: 6px;
  }
}

.contacts div div p {
  margin: 0 0 19px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 1199px) {
  .contacts div div p {
    font-size: 18px;
    line-height: 27px;
  }
}
