.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 190px;
  padding: 0;

  @media screen and (max-width: 1199px) {
    width: 206px;
  }

  @media screen and (max-width: 767px) {
    padding: 4px 0 18px;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {

      flex-grow: 1;
      width: 100%;
      height: 36px;

      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      background: transparent;
      border: 1px solid rgba(16, 38, 84, 1);
      border-bottom: 1px solid rgba(116, 129, 156, 1);

      outline: none;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover:not(:disabled) {
        border: 1px solid rgba(255, 255, 255, 1);
      }

      &:focus-visible:not(:disabled) {
        border: 1px solid rgba(255, 255, 255, 1);
      }

      &::placeholder {
        color: rgba(255, 255, 255, 1);
      }

      &:disabled::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }

      &:disabled {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      &:invalid:not(:placeholder-shown) {
        border: none;
        border-bottom: 1px solid rgba(255, 61, 61, 1);
      }
    }
  }

  //&__label {
  //  @media screen and (max-width: 767px) {
  //    margin: 0 0 18px 0;
  //  }
  //}

  //&__error {
  //  position: absolute;
  //  right: 0;
  //  bottom: 35px;
  //
  //  color: #ff1553;
  //
  //  opacity: 0;
  //
  //  transition: opacity 0.3s ease;
  //
  //  @media screen and (max-width: 767px) {
  //    bottom: 20px;
  //  }
  //}

  //&.is-invalid {
  //  input,
  //  textarea {
  //    border: 2px solid #ff1553;
  //
  //    &:focus,
  //    &:hover {
  //      border: 2px solid rgba(#ff1553, 0.5);
  //    }
  //  }
  //}
  //
  //&.is-valid {
  //  input {
  //    border: 2px solid #22b259;
  //
  //    &:focus,
  //    &:hover {
  //      border: 2px solid rgba(#22b259, 0.5);
  //    }
  //  }
  //}
  //
  //.input-message {
  //  position: absolute;
  //  right: 0;
  //  bottom: -5px;
  //
  //  &.is-invalid {
  //    color: #ff0000;
  //  }
  //
  //  &.is-valid {
  //    color: #15ab07;
  //  }
  //}
}
