.footer-list {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .footer-list {
    column-span: all;
    justify-content: start;
    padding-top: 15px;
  }
}

.footer-list__item {
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
}

.footer-list__item-link {
  display: block;
  width: 35px;
  height: 35px;
}

.footer-list__item-link:hover ,
.footer-list__item-link:focus-visible {
  outline: none;
}

.footer-list__item-link:hover svg,
.footer-list__item-link:focus-visible svg {
  fill: #FFFFFF;
}

.footer-list__item-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.footer-list__item-link:hover::before  ,
.footer-list__item-link:focus-visible::before {
  background: rgba(16, 58, 174, 1);
}

.footer-list__item-link:active::before  ,
.footer-list__item-link:active::before {
  background: rgba(16, 38, 84, 1);
}



.footer-list__item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
