.free {
  width: 600px;
  margin: 0 0 0 auto;
  padding: 56px 170px 63px 20px;
}

@media (max-width: 1199px) {
  .free {
    width: 768px;
    margin: 0 auto;
    padding: 63px 163px 69px 133px;
  }
}

@media (max-width: 767px) {
  .free {
    width: 320px;
    padding: 63px 15px 69px;
  }
}

.free span {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 1.62px;
}

@media (max-width: 1199px) {
  .free span {
    margin-bottom: 27px;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.26px;
  }
}

@media (max-width: 767px) {
  .free span {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.free fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.free__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 0 28px;
  padding: 0;
}

@media (max-width: 1199px) {
  .free__inner {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .free__inner {
    flex-direction: column;
    margin-bottom: 21px;
  }
}

.free button {
  width: 100%;
  margin: 0;
  padding: 17px 0;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  background: transparent;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: 3px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.free button:hover:not(:disabled),
.free button:focus-visible:not(:disabled) {
  color: rgba(16, 58, 174, 1);
  background: rgba(255, 255, 255, 1);
}

.free button:active:not(:disabled) {
  color: rgba(16, 38, 84, 1);
}

.free button:disabled {
  color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.5);
  cursor: auto;
}

@media (max-width: 1199px) {
  .free button {
    padding: 16px 0;
  }
}
