.games-box {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 500px;
  margin: 0;
  padding: 85px 77px 87px;
  background: rgba(237, 2, 51, 1);
}

@media (max-width: 1199px) {
  .games-box {
    width: 292px;
    padding: 51px 45px 48px;
  }
}
@media (max-width: 767px) {
  .games-box {
    width: 290px;
    padding-bottom: 49px;
  }
}

.games-box__title {
  margin: 0;
  padding: 0 0 0 15px;
  color: rgba(255, 255, 255, 1);
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 82px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .games-box__title {
    padding-left: 8px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.44px;
  }
}

.games-box__text {
  margin: 24px 0 44px;
  padding: 0;
  grid-column: 1 / 3;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 1199px) {
  .games-box__text{
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 14px;
  }
}

.games-box__button {
  grid-column: 1 / 3;
  margin: 0;
  padding: 24px 0;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 1);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .games-box__button {
    padding: 11px 0;
    font-size: 10px;
    letter-spacing: 0.5px;
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

.games-box__button:hover:not(:disabled),
.games-box__button:focus-visible:not(:disabled) {
  color: rgba(16, 58, 174, 1);
  background: rgba(255, 255, 255, 1);
  outline: none;
}

.games-box__button:active:not(:disabled) {
  color: rgba(16, 38, 84, 1);
}

.games-box__button:disabled {
  color: rgba(255, 255, 255, 1);
  border: rgba(255, 255, 255, 1);
}
