.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 1);
}

.games__inner {
  display: flex;
  width: 1200px;
  box-sizing: border-box;
  margin: 0;
  padding: 50px 20px 90px;
}

@include vp-1199 {
  .games__inner {
    width: 768px;
    padding: 31px 45px 90px;
  }
}

@include vp-767 {
  .games__inner {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 70px 15px 50px;
  }
}

.games__container-image {
  width: 660px;
  height: 500px;
  margin: 0;
  padding: 0;
  background: rgba(0, 1, 44, 1);;
}

@include vp-1199 {
  .games__container-image {
    width: 386px;
    height: 292px;
  }
}

@include vp-767 {
  .games__container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
