.gym {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(16, 38, 84, 1);
  background: rgba(255, 255, 255, 1);
}

.gym__inner {
  position: relative;
  display: flex;
  gap: 85px;
  margin: 0;
  padding: 120px 20px 235px;
}

@include vp-1199 {
  .gym__inner {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 100px 45px 183px;
  }
}

@include vp-767 {
  .gym__inner {
    gap: 23px;
    padding: 64px 0 277px;
  }
}

.gym__inner-box {
  box-sizing: border-box;
  width: 415px;
  margin: 0;
  padding: 40px 0 0 60px;
}

@include vp-1199 {
  .gym__inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    padding: 0;
  }
}

@include vp-767 {
  .gym__inner-box {
    align-items: flex-start;
    width: 320px;
    padding: 0 15px;
  }
}

.gym__inner-box h2 {
  margin: 0 0 7px;
  padding: 0;

  @include ff-alumniSans;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1.44px;
}

@include vp-1199 {
  .gym__inner-box h2 {
    margin-bottom: 0;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }
}

@include vp-767 {
  .gym__inner-box h2 {
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.gym__inner-box-container span {
  display: block;
  margin: 0 0 39px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@include vp-1199 {
  .gym__inner-box-container span {
    margin-bottom: 34px;
  }
}

@include vp-767 {
  .gym__inner-box-container span {
    margin-bottom: 25px;
  }
}

.gym__inner-box > p {
  margin: 0 0 8px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@include vp-1199 {
  .gym__inner-box > p {
    text-align: center;
  }
}

@include vp-767 {
  .gym__inner-box > p {
    padding-right: 28px;
    text-align: start;
  }
}

.gym__inner-box > span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@include vp-1199 {
  .gym__inner-box > span {
    display: none;
  }
}

.gym__inner-image {
  width: 660px;
  height: 401px;
}

@include vp-1199 {
  .gym__inner-image {
    width: 678px;
    height: 345px;
  }
}

@include vp-767 {
  .gym__inner-image {
    width: 320px;
    height: 313px;
  }
}

.gym__inner-video-wrapper {
  position: absolute;
  bottom: 120px;
  left: 458px;
  width: 364px;
  height: 228px;
}

@include vp-1199 {
  .gym__inner-video-wrapper {
    width: 266px;
    height: 167px;
    bottom: 99px;
    left: 250px;
  }
}

@include vp-767 {
  .gym__inner-video-wrapper {
    bottom: 70px;
    left: 0;
    width: 320px;
    height: 167px;
  }
}

.gym__inner-video-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gym__inner-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.gym__inner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@include vp-1199 {
  .gym__inner-video {
    width: 266px;
    height: 167px;
  }
}

@include vp-767 {
  .gym__inner-video {
    width: 320px;
    height: 167px;
  }
}

.gym__inner-video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  background: transparent;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
}

@include vp-1199 {
  .gym__inner-video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
    border: none;
    background: transparent;
    transform: translate(-50%, -50%) scale(0.72);
    pointer-events: none;
    display: none;
  }
}

.gym__inner-video-wrapper--enabled {
  cursor: pointer;
}

.gym__inner-video-wrapper--enabled .gym__inner-video-button {
  display: block;
}

.gym__video-link:hover + .gym__inner-video-button svg {
  .gym__inner-video-button-big-circle {
    stroke: rgba(16, 38, 84, 1);
    stroke-opacity: 1;
  }

  .gym__inner-video-button-small-circle {
    fill: rgba(255, 255, 255, 1);
  }

  .gym__inner-video-button-triangle {
    fill: rgba(16, 38, 84, 1);
  }
}

.gym__inner-video-button:focus-visible {
  outline: none;

  svg .gym__inner-video-button-big-circle {
    stroke: rgba(16, 38, 84, 1);
    stroke-opacity: 1;
  }

  svg .gym__inner-video-button-small-circle {
    fill: rgba(255, 255, 255, 1);
  }

  svg .gym__inner-video-button-triangle {
    fill: rgba(16, 38, 84, 1);
  }
}
