.program {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.program:not(.program__active) {
  display: none;
}

@media (max-width: 1199px) {
  .program {
    grid-template-columns: 442px;
  }
}

@media (max-width: 767px) {
  .program {
    gap: 35px;
    grid-template-columns: 290px;
  }
}

.program__item {
  margin: 0;
  padding: 0;
}

.program__item-real-button {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 55px 0 60px;
  background: rgba(255, 255, 255, 1);
  border: 7px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media (max-width: 767px) {
  .program__item-real-button {
    padding: 42px 0 47px;
  }
}

.program__item-real-button:hover,
.program__item-real-button:focus-visible {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85 360deg);
  outline: none;

  .program__item-button {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  }
}

.program__item-real-button:active {
  .program__item-button {
    color: rgba(255, 255, 255, 0.7);
  }
}

.program__item-option {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 767px) {
  .program__item-option {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
  }
}

.program__item-term {
  display: block;
  margin: 0 0 92px;
  padding: 0;
  color: rgba(73, 90, 125, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 767px) {
  .program__item-term {
    margin-bottom: 65px;
  }
}

.program__price-block {
  position: relative;
  display: block;
  margin: 0 0 51px;
  padding: 0;
}

@media (max-width: 767px) {
  .program__price-block {
    margin-bottom: 39px;
  }
}

.program__item-price-shadow {
  position: absolute;
  top: -60px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  color: rgba(232, 232, 232, 0.5);
  font-size: 100px;
  font-weight: 700;
  line-height: 117px;
}

@media (max-width: 767px) {
  .program__item-price-shadow {
    top: -37px;
    font-size: 80px;
    line-height: 94px;
  }
}

.program__item-price {
  position: relative;
  z-index: 1;
  margin: 0 10px 0 0;
  padding: 0;
  color: rgba(16, 58, 174, 1);
  font-size: 60px;
  font-weight: 700;
  line-height: 70%;
}

@media (max-width: 767px) {
  .program__item-price {
    margin-right: 6px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}

.program__item-ruble {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .program__item-ruble {
    display: none;
  }
}

.program__item-ruble-mini {
  display: none;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .program__item-ruble-mini {
    display: inline;
  }
}

.program__item-button {
  display: block;
  width: 210px;
  height: 66px;
  box-sizing: border-box;
  margin: 0;
  padding: 27px 0;
  color: rgba(16, 38, 84, 1);
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid rgba(16, 38, 84, 1);
  text-align: center;
}
