.program {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.program:not(.program--active) {
  display: none;
}

@include vp-1199 {
  .program {
    grid-template-columns: 442px;
  }
}

@include vp-767 {
  .program {
    gap: 35px;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.program__item {
  margin: 0;
  padding: 0;
}

.program__item-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 55px 0 60px;
  background: rgba(255, 255, 255, 1);
  border: 7px solid rgba(255, 255, 255, 1);
}

@include vp-767 {
  .program__item-inner {
    padding: 42px 35px 47px;
  }
}

.program__item-inner:hover,
.program__item-inner:focus-within {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85 360deg);

  .program__item-button {
    color: rgba(255, 255, 255, 1);
    background: rgba(16, 58, 174, 1) linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    user-select: none;
    outline: none;
  }
}

.program__item-inner h3 {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  color: rgba(16, 38, 84, 1);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}

@include vp-767 {
  .program__item-inner h3 {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
  }
}

.program__item-inner > span {
  display: block;
  margin: 0 0 92px;
  padding: 0;
  color: rgba(73, 90, 125, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@include vp-767 {
  .program__item-inner > span {
    margin-bottom: 65px;
  }
}

.program__price-block {
  position: relative;
  display: block;
  margin: 0 0 51px;
  padding: 0;
}

@include vp-767 {
  .program__price-block {
    margin-bottom: 39px;
  }
}

.program__price-block span:nth-of-type(1) {
  position: absolute;
  top: -60px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  color: rgba(232, 232, 232, 0.5);
  font-size: 100px;
  font-weight: 700;
  line-height: 117px;
}

@include vp-767 {
  .program__price-block span:nth-of-type(1) {
    top: -37px;
    font-size: 80px;
    line-height: 94px;
  }
}

.program__price-block span:nth-of-type(2) {
  position: relative;
  z-index: 1;
  margin: 0 10px 0 0;
  padding: 0;
  color: rgba(16, 58, 174, 1);
  font-size: 60px;
  font-weight: 700;
  line-height: 70%;
}

@include vp-767 {
  .program__price-block span:nth-of-type(2) {
    margin-right: 6px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}

.program__price-block svg:nth-of-type(1) {
  position: relative;
  z-index: 1;
}

@include vp-767 {
  .program__price-block svg:nth-of-type(1) {
    display: none;
  }
}

.program__price-block svg:nth-of-type(2) {
  display: none;
  position: relative;
  z-index: 1;
}

@include vp-767 {
  .program__price-block svg:nth-of-type(2) {
    display: inline;
  }
}

.program__item-button {
  display: block;
  width: 210px;
  min-height: 66px;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 0;
  color: rgba(16, 38, 84, 1);
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid rgba(16, 38, 84, 1);
  text-align: center;
}

@include vp-767 {
  .program__item-button {
    width: 100%;
  }
}

.program__item-button:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(16, 58, 174, 1) linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  user-select: none;
}
