.program {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.program__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 68px 0;
  background: rgba(255, 255, 255, 1);
  border: 7px solid rgba(255, 255, 255, 1);
}

.program__item:hover,
.program__item:focus-within {
  //border: 4px solid (151deg, #ED0233 0%, #003EB7 100%);
  outline: none;
}

.program__item-option {
  margin: 0 0 22px;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}

.program__price-block {
  margin: 0 0 58px;
  padding: 0;
}

.program__item-term {
  margin: 0 0 96px;
  padding: 0;
  color: rgba(73, 90, 125, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.program__item-price {
  margin: 0 14px 0 0;
  padding: 0;
  color: rgba(16, 58, 174, 1);
  font-size: 60px;
  font-weight: 700;
  line-height: 70%;
}

.program__item-button {
  width: 210px;
  height: 68px;
  box-sizing: border-box;
  margin: 0;
  padding: 27px 0;
  color: rgba(16, 38, 84, 1);
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid rgba(16, 38, 84, 1);
}


