.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1314px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

@include vp-1199 {
  .slider__container {
    max-width: 767px;
  }
}

@include vp-767 {
  .slider__container {
    padding: 0 47px;
  }
}

.slider__inner {
  width: 1160px;
  margin: 0;
  padding: 15px 0 105px;
}

@include vp-1199 {
  .slider__inner {
    width: 566px;
    padding: 11px 0 105px;
  }
}

@include vp-767 {
  .slider__inner {
    width: 226px;
    padding: 15px 0 70px;
  }
}

.slider__inner h2 {
  margin: 0 0 49px;
  padding: 0;
  color: rgba(16, 38, 84, 1);

  @include ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
}

@include vp-1199 {
  .slider__inner h2 {
    margin-bottom: 31px;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.26px;
    text-align: center;
  }
}

@include vp-767 {
  .slider__inner h2 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.slider__button {
  position: absolute;
  top: 47%;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  outline: none;
}

.slider__button:hover:not(:disabled) circle,
.slider__button:focus-visible:not(:disabled) circle {
  stroke: rgba(16, 38, 84, 1);
}

.slider__button:active:not(:disabled) circle {
  fill: rgba(16, 38, 84, 1);
}

.slider__button:active:not(:disabled) path {
  stroke: rgba(255, 255, 255, 1);
}

.slider__button:disabled path {
  stroke: #dcdcdc;
}

@include vp-1199 {
  .slider__button {
    top: 43%;
  }
}

@include vp-767 {
  .slider__button {
    top: 46%;
  }
}

.slider__button--prev {
  left: 0;
}

@include vp-1199 {
  .slider__button--prev {
    left: 25px;
  }
}

@include vp-767 {
  .slider__button--prev {
    left: -7px;
    transform: scale(0.6);
  }
}

.slider__button--next svg {
  transform: rotate(180deg);
}

.slider__button--next {
  right: 0;
}

@include vp-1199 {
  .slider__button--next {
    right: 25px;
  }
}

@include vp-767 {
  .slider__button--next {
    right: -7px;
    transform: scale(0.6);
  }
}
